body {
    font-family: Arial, Helvetica, sans-serif;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    display: block;
    width: 272px;
    height: 92px;
}

.search-box {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px;
    width: 100%;
}

.search-box #userinput {
    width: 50%;
    padding: 15px 10px;
    /* border-radius: 25px; */
    border: 1px #ddd solid;
    background: url(../img/google-microphone.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    border-left-style: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

#userinput:focus{
    outline: none;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

.search-buttons .buttons {
    margin: 5px;
    padding: 10px 12px;
    border-radius: 5px;
    border-style: none;
    font-size: 13px;
    color: #5F6368;
    text-align: center;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-container .left-nav, .right-nav {
    padding: 20px;
    margin-bottom: 100px;
}

li {
    display: inline;
    margin: 5px;
    line-height: 10px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    opacity: 0.7;
}

.button {
    background: #4387fd;
    color: #fff;
    padding: 8px 12px;
    opacity: 1;
    font-weight: bold;
    border-radius: 3px;
}

.icon {
    padding: 15px;
    text-align: center;
    min-width: 30px;
    color: #5F6368;
    border: 1px #ddd solid;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right-style: none;

}